{% extends "layout.html" %}

{% block baseline %}
    <div class="container overlay">
        <img data-aos="zoom-in" data-aos-delay="500" src="{{ '/imgs/educode-logo-transparent.png' | url }}" alt="">
        <h1 data-aos="fade-down" data-aos-delay="100" class="color-dark">{{ this.title }}</h1>

        <p class="color-darker-yellow " data-aos="zoom-in" data-aos-delay="300">
            <strong>
                {{ this.s_intro_location_city }}
                <br>
                {{ this.s_intro_dates }}
            </strong>
        </p>

        <p data-aos="zoom-in" data-aos-delay="600">
            <strong>
                {{ this.s_intro_location_institutions }}
                <br>
                {{ this.s_intro_location_institutions_2 }}
            </strong>
        </p>

        <p data-aos="zoom-in" data-aos-delay="300" class="baseline color-darker-yellow">
            <strong>{{ this.baseline }}</strong></p>
        <hr>
    </div>
{% endblock %}

{% block content %}
    <div id="landing-page-content" class="container-fluid description">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="title title-left">{{ this.s_about_educode }}</h4>
                    <div class="about">
                        {{ this.about }}
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                </div>
                <div id="anchor-overview" class="col-12">
                    <h4 class="title title-left"><i class="fa fa-calendar-o"
                                                    aria-hidden="true"></i> {{ this.s_overview_program }}
                    </h4>
                </div>


                <div class="col-12" data-aos="fade-down-right" data-aos-delay="100">
			<h2 class="text-center">{{ _("Journée principale") }} <span
                            style="color: #e0a800; font-weight: 600;font-size: 1.3em;"></span>
                    </h2>
                    <div>
                      {{ this.journee_principale }}
                    </div>
                    <div class="col-12 text-center">
                        <a href="ateliers"
                           class="btn btn-lg btn-warning text-uppercase">{{ _("Voir les ateliers") }}</a>
                    </div>
                    <hr>
                </div>

		<div class="col-12" data-aos="fade-down-right" data-aos-delay="100">
			<h2 class="text-center">{{ _("Avant première du concert festif") }} <span
                            style="color: #e0a800; font-weight: 600;font-size: 1.3em;"></span>
                    </h2>
                    <div>
                      {{ this.concert_avant_premiere }}
                    </div>
                </div>

		<div class="col-12" data-aos="fade-down-right" data-aos-delay="100">
			<h2 class="text-center">{{ _("Journée info sans ordi") }} <span
                            style="color: #e0a800; font-weight: 600;font-size: 1.3em;"></span>
                    </h2>
                    <div>
                      {{ this.journee_sans_ordi }}
                    </div>
                </div>

		<div class="col-12" data-aos="fade-down-right" data-aos-delay="100">
			<h2 class="text-center">{{ _("Concert festif") }} <span
                            style="color: #e0a800; font-weight: 600;font-size: 1.3em;"></span>
                    </h2>
                    <div>
                      {{ this.concert }}
                    </div>
                </div>

                <div class="col-12">
                    <hr>
                </div>

                <div id="anchor-speakers" class="col-12">
                    <h4 class="title title-left"><i class="fa fa-users" aria-hidden="true"></i> {{ this.s_speakers }}
                    </h4>
                </div>

                <!-- On récupère tous les intervenants -->
                {% set speakers = site.query('/intervenants').include_hidden(false) %}
                {% if speakers %}
                    {% for speaker in speakers.order_by("name") %}
                        <div class="col-6 col-sm-4 col-md-3 col-lg-3 speaker" data-aos="fade-down-right"
                             data-aos-delay="300">
                            {% set pictures = speaker.attachments %}
                            <div class="text-center speaker-picture-container"
                                 onclick="location.href = '{{ speaker.url_path | url }}';">
                                <div class="speaker-picture"
                                        {% if pictures %}
                                            {% set profile_picture = pictures | first %}
                                     style="background-image: url('{{ profile_picture | url }}');">
                                        {% else %}
                                            style="background-image: url('{{ "/imgs/user.png" | url }}');">
                                        {% endif %}
                                </div>
                            </div>
                            <h4 class="speaker-name text-center">
                                <a href="{{ speaker.url_path | url }}">
                                    {{ speaker.title }}
                                </a>
                            </h4>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <hr>
                </div>

                <div id="anchor-expo" class="col-12">
                    <h4 class="title title-left"> {{ this.s_expo }} </h4>
                    <div id="expo-about" class="container">
                        <div class="row">
                            <div class="col-12">
                                {{ this.expo_about }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <!-- On récupère tous les exposants -->
                            {% set exhibitors = site.query('/exposants').include_hidden(false).all() %}
                            {% if exhibitors %}
                                {% for exhibitor in exhibitors %}
                                    <div class="exhibitor col-12 col-sm-4" data-aos="zoom-in">
                                        <h4>{{ exhibitor.title }}</h4>
                                        <p>{{ exhibitor.abstract }}</p>
                                        {% if exhibitor.website %}
                                            <a href="{{ exhibitor.website }}"
                                               target="_blank"
                                               class="btn btn-warning text-uppercase">
                                                SITE WEB
                                            </a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="anchor-partners" class="col-12">
                    <h4 class="title title-left">{{ this.s_partners }}</h4>

                    <div>
                        {{ this.partners_about }}
                    </div>
                    <div class="col-12">
                        <hr>
                    </div>

                    <div class="col-12 text-center">
                        <a href="mailto:partenariat@educode.be?subject=Devenir partenaire d'educode"
                           class="btn btn-lg btn-warning text-uppercase">{{ this.s_become_partner }}</a>
                    </div>

                    <div class="col-12">
                        <hr>
                    </div>
                    <h4 class="col-12 text-center">
                        {{ this.s_our_partners }}
                    </h4>
                    <div id="slideshow-partners" class="col-12">
                        <!-- On récupère tous les partenaires -->
                        {% set partners = site.query('/partenaires').include_hidden(false) %}
                        {% if partners %}
                            {% for partner in partners.order_by("priority", "name") %}
                                <div class="partner text-center ml-2 mr-2">
                                    <!-- picture -->
                                    {% set pictures = partner.attachments %}
                                    {% if pictures %}
                                        {% set partner_picture = pictures | first %}
                                        <div class="partner-picture text-center" style="min-height: 85px;">
                                            <a href="{{ partner.url }}" target="_blank" class="mr-2 ml-2 text-center">
                                                <img src="{{ partner_picture | url }}" alt=""
                                                     style="max-height: 80px; max-width: 80px;">
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="partner-picture text-center">
                                            <a href="{{ partner.url }}" target="_blank" class="mr-2 ml-2 text-center">
                                                <img src="{{ '#' }}" alt="[icon brand]"
                                                     style="max-height: 80px; max-width: 80px">
                                            </a>
                                        </div>
                                    {% endif %}
                                    <!-- url -->
                                    <h4 class="p-1 mt-1">
                                        <a href="{{ partner.url }}" target="_blank" class="btn color-dark">
                                            <strong>{{ partner.name }}</strong>
                                        </a>
                                    </h4>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>


                <div id="anchor-inscription" class="col-12">
                    <h4 class="title title-left">{{ this.s_registration }}</h4>

                    {{ this.registration }}

                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center mt-2 mb-2">
                                <a href="http://brussel.iticketsro.com/Bozar/search/EDUCODE"
                                   target="_blank"
                                   class="btn btn-lg btn-warning text-uppercase">{{ this.s_registration }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="anchor-practical-infos" class="col-12">
                    <h4 class="title title-left">
                        {{ this.s_practical_infos }}
                    </h4>
                    <div class="container practical-info-markdown">
                        {{ this.practical_infos }}
                    </div>
                    <hr>
                    <h5>
                        <img src="{{ '/imgs/mn_blue.png' | url }}" alt="" height="64px">{{ this.s_location }}
                    </h5>
                    <hr>
                    <div class="container">
                        <div class="row">
                            <!-- On récupère tous les lieux -->
                            {% set lieux = site.query('/lieux').include_hidden(false).all() %}
                            {% if lieux %}
                                {% for lieu in lieux %}
                                    {% if lieu.type_location == 'Lieu normal' %}
                                        <div class="col-12 col-sm-4 col-md-3 location text-center">
                                            <!-- picture -->
                                            {% set pictures = lieu.attachments %}
                                            {% if pictures %}
                                                {% set lieu_picture = pictures | first %}
                                                <div class="location-picture"
                                                     data-aos="zoom-in-down"
                                                     style="background: url('{{ lieu_picture | url }}') no-repeat center center;
                                                             height: 150px;
                                                             -webkit-background-size: contain;
                                                             background-size: contain;"
                                                     onclick="location.href = '{{ lieu.url_path | url }}'">
                                                </div>
                                            {% else %}
                                                <div class="location-picture" data-aos="zoom-in-down">
                                                    <a href="{{ lieu.url_path | url }}">
                                                        <img src="{{ '/imgs/location.svg' }}" alt="">
                                                    </a>
                                                </div>
                                            {% endif %}

                                            <!-- description -->
                                            <h4 class="color-white p-1 mt-1 text-center"
                                                style="background-color: #5c2429;">
                                                <strong>{{ lieu.name }}</strong>
                                            </h4>
                                            <p class="color-dark">{{ lieu.address }}</p>
                                            <a href="{{ lieu.url_path | url }}"
                                               class="btn btn-warning">{{ this.s_more_infos }}</a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            {{ this.practical_infos_hostels }}

                            <!-- On récupère tous les hôtels -->
                            <!-- Je mets en commentaire le code ci-dessous au lieu de l'effacer
                             au cas où je doive le réintégrer.
                        {% if lieux %}
                            {% for lieu in lieux %}
                                {% if lieu.type_location == 'Hôtel' %}
                                    <div class="col-12 col-sm-4 col-md-3 location text-center">
                                        <!-- picture -->
                                {% set pictures = lieu.attachments %}
                                {% if pictures %}
                                    {% set lieu_picture = pictures | first %}
                                    <div class="location-picture"
                                         data-aos="zoom-in-down"
                                         style="background: url('{{ lieu_picture | url }}') no-repeat center center;
                                                 height: 150px;
                                                 -webkit-background-size: cover;
                                                 background-size: cover;"
                                         onclick="location.href = '{{ lieu.url_path | url }}'">
                                    </div>
                                {% else %}
                                    <div class="location-picture" data-aos="zoom-in-down">
                                        <a href="{{ lieu.url_path | url }}">
                                            <img src="{{ '/imgs/location.svg' }}" alt="">
                                        </a>
                                    </div>
                                {% endif %}

                                <!-- description -->
                                <h4 class="background-color-darker-yellow color-white p-1 mt-1 text-center">
                                    <strong>{{ lieu.name }}</strong></h4>
                                <p class="color-dark">{{ lieu.address }}</p>
                                {% if lieu.code_promo %}
                                    <a href="{{ lieu.url_path | url }}" class="btn btn-warning"><i
                                            class="fa fa-gift"></i> CODE PROMO</a>
                                    <br>
                                {% endif %}
                                <a href="{{ lieu.url_path | url }}"
                                   class="btn mt-1 btn-warning">{{ this.s_more_infos }}</a>
                                </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        -->
                    </div>
                </div>
                <hr>
                <h4 class="text-center" style='font-family: "Unica One", "Roboto Slab", serif; font-size: 2rem;'>
                    <strong>
                        <span style="color: black;">BRU</span>
                        <span style="color: #d0ad00;">XEL</span>
                        <span style="color: red;">LES</span>
                    </strong>
                </h4>
                <hr>
                <div>
                    {{ this.practical_infos_brussels }}
                </div>

                <hr>
                <div class="row">
                    <div class="bxl-img col-12" style="background-image: url('{{ '/imgs/bxl-5.jpg' | url }}');"></div>
                </div>

                <hr>

            </div>
            <div id="anchor-submissions" class="col-12">
                <h4 class="title title-left">
                    {{ this.s_submissions }}
                </h4>
                <div class="container">
                    {{ this.submissions_text }}
                </div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-12 text-center mt-1 mb-1">
                            <a href="https://educode2018.sciencesconf.org/"
                               target="_blank"
                               class="btn btn-lg btn-warning">
                                {{ this.s_submit_paper }} - {{ this.s_wednesday_29 }}
                            </a>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

        </div>

        <div class="row">
            <div id="anchor-press" class="col-12 p-2">
                <h4 class="title title-left">{{ this.s_press }}</h4>

                <div class="container">
                    {{ this.press_text }}
                </div>

<!--
                <p class="text-center" data-aos="zoom-in">
                    <a href="{{ "/presse" | url }}" class="btn btn-warning btn-lg text-uppercase">Documents</a>
                </p>
-->
            </div>
        </div>

        <div class="row">
            <div id="anchor-contact" class="col-12">
                <h4 class="title title-left">{{ this.s_contact }}</h4>
                <div id="contacts">
                    <div class="container">
                        <div class="row">
                            <!-- On récupère tous les contacts -->
                            {% set contacts = site.query('/contacts').include_hidden(false).all() %}
                            {% if contacts %}
                                {% for contact in contacts %}
                                    <div class="col-12 col-sm-4 contact" data-aos="fade-up">
                                        <h4 class="speaker-name text-center"><strong>{{ contact.name }}</strong>
                                        </h4>
                                        <p class="color-dark">{{ contact.role }}</p>
                                        <ul>
                                            <li><i class="fa fa-phone"></i> {{ contact.tel }}</li>
                                            <li><i class="fa fa-envelope"></i> {{ contact.mail }}</li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block javascript %}
    <script>
        AOS.init();

        $('#slideshow-partners').slick({
            dots: true,
            infinite: true,
            speed: 1500,
            autoplaySpeed: 300,
            autoplay: true,
            slidesToShow: 6,
            slidesToScroll: 1,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>
{% endblock %}
